.flex {
  flex-grow: 1;
}

.project {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-300);
  padding: var(--ifm-global-spacing);
  margin: 24px 0;
  align-items: center;
}

.project p {
  padding-right: 0.8em;
  color: var(--ifm-color-emphasis-800);
  margin: 0;
}

.projectGitHub {
  font-size: 1.1rem;
  color: var(--ifm-link-color);
  font-weight: bold;
  display: flex;
  align-items: center; 
}

.projectIcon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  flex-shrink: 0;
  stroke: var(--ifm-link-color);
  stroke-width: 2;
  margin-left: 10px;
}


.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  width: 85%;
  max-width: 650px;
  padding-bottom: 8em;
  padding-top: 0;
}

.homePageSearch {
  margin: auto;
  max-width: 650px;
  width: 85%;
}

.homePageSearch .DocSearch-Button {
  border-radius: 6px;
  height: 3.5em;
  padding: 10px 15px;
  width: 100%;
}

.homePageSearch {
  align-items: center;
  justify-content: center;
}